:root {
    /* for light mode */
    --dark-LM: #272727;
    --light-LM: #EFFFFB;
    --blue-LM: #4F98CA;
    --green-LM: #50D890;
}
/* body {
 background-color: var(--dark-LM);
} */

.navbar {
    padding-top: 0;
}

#nav {
    background-color: var(--green-LM);
}

#mug-color {
    color: var(--blue-LM);
}